body{
    background-color: rgb(8, 8, 8);
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.long{
    height: 300px;
    width: 200px;
    background: linear-gradient(rgb(255, 0, 0),rgb(255, 123, 0));
    position: relative;
    left: 900px;
    bottom: -430px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.s{
    height: 290px;
    width: 190px;
    background: black;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.ev{
    width: 80px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.ss{
    height: 300px;
    width: 200px;
    background: linear-gradient(rgb(255, 0, 0),rgb(255, 123, 0));
    position: relative;
    left: 670px;
    bottom: -50px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.lol{
    height: 290px;
    width: 190px;
    background: black;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.lo{
    width: 100px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.sss{
    height: 300px;
    width: 200px;
    background: linear-gradient(rgb(255, 0, 0),rgb(255, 123, 0));
    position: relative;
    left: 1130px;
    bottom: 250px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.GT{
    height: 290px;
    width: 190px;
    background: black;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.gtx{
    width: 100px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.ssss{
    height: 300px;
    width: 200px;
    background: linear-gradient(rgb(255, 0, 0),rgb(255, 123, 0));
    position: relative;
    left: 1355px;
    bottom: 650px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.ck{
    height: 290px;
    width: 190px;
    background: black;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.cki{
    width: 100px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.h1{
    font-family: 'Orbitron', sans-serif;
    color: white;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.bal{
    width: 6px;
    position: relative;
    left: 0px;
    bottom: -70px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.sssss{
    height: 300px;
    width: 200px;
    background: linear-gradient(rgb(255, 0, 0),rgb(255, 123, 0));
    position: relative;
    left: 435px;
    bottom: 960px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.f{
    height: 290px;
    width: 190px;
    background: black;
    position: relative;
    top: 4px;
    left: 4px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.if{
    width: 100px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.shidon{
    background-color: rgb(255, 72, 0);
    width: 100px;
    height: 2000px;
    position: relative;
    top: -1550px;
    left: -10px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.x{
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 23px;
    position: relative;
    top: 40px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.sl{
    position: relative;
    top: 10px;   
left: -18px;
    width: 150px;
    cursor: url(עיצוב_ללא_שם__14_-removebg-preview.png),pointer;
}
.cl{
    background:linear-gradient(transparent,rgb(255, 72, 0));
    width: 200px;
    height: 200px;
    position: relative;
    top: -2800px;
    left: 900px;
}
.clt{
    width: 1200px;
    position: relative;
    top: -2600px;
    left: 399px;
}